<%- include('../boilerplate/header') %>
<body style="font-family: Arial, sans-serif; background-color: #f2f2f2; padding: 20px;">
    <h1 style="text-align: center;">Order List</h1>
  <div style="max-width: 800px; margin: 0 auto;">
<% for (let i = 0; i < tempVendorDetails.length; i++) { %>
    <div style="background-color: #fff; padding: 20px; margin-bottom: 20px;">
      <h2 style="font-size: 24px; margin-bottom: 10px;">Order <%=i+1 %></h2>
      <p style="margin-bottom: 5px;">Date: 2023-06-30</p>
      <p style="margin-bottom: 5px;">Customer Name:<%=tempVendorDetails[i].name%></p>
      <p style="margin-bottom: 5px;">Phone Number:<%=tempVendorDetails[i].phoneNumber%></p>
      <p style="margin-bottom: 5px;">Address:<%=tempVendorDetails[i].address%></p>
      <ul style="list-style: none; padding: 0;">
<% for (let j = 0; j < tempVendorDetails[i].products.length; j++) { %>
        <li style="margin-bottom: 10px;">
          <span style="font-weight: bold;">Name: <%= tempVendorDetails[i].products[j].product %></span>
          <span style="margin-left: 10px;">Quantity: <%= tempVendorDetails[i].products[j].quantity %></span>
          <span style="margin-left: 10px;">Price: <%= tempVendorDetails[i].products[j].price %></span>
        </li>
<%  } %>
 <!-- <button type="submit" class="submit-button btn btn-primary">Track Your Order</button> -->
 <form class="" action="/deleteorder/<%=tempVendorDetails[i]._id%>" method="post">
   <button type="submit" class="submit-button btn btn-danger">Order Completed</button>
 </form>

<button type="button" class="btn btn-primary "name="button"><a href="/trackyourorder/<%=tempVendorDetails[i]._id%>">clickhere</a></button>


      </ul>
    </div>
 <% } %>

    <div style="background-color: #fff; padding: 20px; margin-bottom: 20px;">
      <!-- Add more order details here -->
    </div>

  </div>
<%- include('../boilerplate/footer') %>
